[backup]
; Path output
save_dir = ./backup/
save_tpl = {pref}-{mysql_base}.{ext}
save_pref = %Y%m%d
save_gzip = True

; How to store
max_copies_count=5

; Encryption
;encrypt_pass = 123456
compress_level = 6

[mysql=NAMESPACE]
; DSN
;mysql_host = localhost
;mysql_user = test
;mysql_pass = password
mysql_base = test

; Options:
mysql_options = --login-path=localhost -Q -e --no-autocommit --opt

[storage=yandex]
; in future versions

[webdav=yandex]
; in future versions

[sendmail]
; API
api_domen = localhost
api_token = key-token

; SMTP
smtp_host = localhost
smtp_port = 465
smtp_ssl  = False
smtp_tls  = True
smtp_user = user
smtp_pass = password

; Settings
limit_size_source = 50M
chunk_max_size = 5M

[sendmail=NAMESPACE]
; SMTP or API
transport = api
; header
send_subject = Backup: {filename}
send_from = Backup <backup@localhost>
send_to = user@host
send_cc = user2@host
send_bcc = user3@host

[sendmail=NAMESPACE2]
; SMTP or API
transport = smtp
; header
send_subject = Backup: {filename}
send_from = Backup <backup@localhost>
send_to = user@host
