[backup]
; Path output
save_dir = ./backup/
save_tpl = {pref}-{base}.{ext}
save_pref = %Y%m%d
save_gzip = True

; How to store
max_copies = 5

; Encryption
;encrypt_pass = 123456
compress_level = 6

[mysql=NAMESPACE]
; DSN
;host = localhost
;user = test
;pass = password
base = test

; Options:
options = --login-path=localhost -Q -e --no-autocommit --opt

[sendmail]
; API
domen = localhost
token = key-token

; SMTP
host = localhost
port = 465
ssl  = False
tls  = True
user = user
pass = password

; Settings
limit_size_source = 50M
chunk_max_size = 5M

[sendmail=NAMESPACE]
; SMTP or API
transport = api
; header
subject = Backup: {filename}
from    = Backup <backup@localhost>
to      = user@host
cc      = user2@host
bcc     = user3@host

[sendmail=NAMESPACE2]
; SMTP or API
transport = smtp
; header
subject = Backup: {filename}
from    = Backup <backup@localhost>
to      = user@host

[storage=NAMESPACE2]
; WebDAV, REST, FTP, SFTP, rsync
transport = webdav

; WebDav settings
host = https://webdav.yandex.ru
user = user
pass = 123456
;proxy_host
;proxy_user
;proxy_pass
;cert_path
;key_path

; REST settings
host = https://webdav.yandex.ru
user = user
token = 123456

; FTP/SFTP settings
host = https://webdav.yandex.ru
user = user
pass = 123456
port = 2223

; common settings
dir = /mysqldump/ideapush
max_copies = 2